
.board {
    width: 100%;
    height: 80vh;
    background-color: #09202F;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row:last-child {
    margin-bottom: 5px;
}



.cell-valid {
    background-color: transparent;
    color: #09202F;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}


